.node-red/flows_raspberrypi.json
[{"type":"tab","id":"15cace38.ea3532","label":"Sheet 1"},{"id":"c6242bb5.39dbd8","type":"inject","name":"trigger periodically","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":138,"y":169,"z":"15cace38.ea3532","wires":[["1b37fd21.e4c803"]]},{"id":"1b37fd21.e4c803","type":"http request","name":"get remote sensor data","method":"GET","ret":"obj","url":"http://api.openweathermap.org/data/2.5/weather?q=boston&units=metric","x":281,"y":264,"z":"15cace38.ea3532","wires":[["827021af.7d8fe","bc097e7e.43f68"]]},{"id":"bc097e7e.43f68","type":"function","name":"parse data","func":"msg.temp = msg.payload.main.temp;\n//msg.url = 'https://dweet.io:443/dweet/for/tempSensor?m='+temp;\nmsg.url = 'http://localhost:8080/input/Jz8dmwzW9NtX4rrzPYkMHZQpXo2?private_key=ZOP3l9Og8nI8zYYrnNpeHO7YBdA&temp='+msg.temp;\nmsg.method = 'POST';\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":366,"z":"15cace38.ea3532","wires":[["495a5078.b6a5b"]]},{"id":"495a5078.b6a5b","type":"http request","name":"push data","method":"use","ret":"txt","url":"","x":538,"y":460,"z":"15cace38.ea3532","wires":[["23b2cccc.dc4d34"]]},{"id":"827021af.7d8fe","type":"debug","name":"monitor sensor data","active":true,"console":"false","complete":"payload.main.temp","x":671,"y":103,"z":"15cace38.ea3532","wires":[]},{"id":"23b2cccc.dc4d34","type":"debug","name":"monitor output","active":true,"console":"false","complete":"true","x":673,"y":679,"z":"15cace38.ea3532","wires":[]}]
